body {
    background-color: #0080ff; /* Azul céu */
    background-image: url('https://www.transparenttextures.com/patterns/clouds.png');
    font-family: "Comic Sans MS", cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    transition: background 5s, filter 10s; /* Isso vai fazer a transição suave pro terror */
}

#site-container {
    background: white;
    border: 5px double pink;
    padding: 20px;
    text-align: center;
    box-shadow: 10px 10px 0px rgba(0,0,0,0.2);
    max-width: 500px;
}

h1 { color: #ff00ff; }

.card { margin: 20px; }

#btn-interagir {
    background: yellow;
    border: 2px solid orange;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
}

/* Classe que vamos injetar via JS para o terror */
.escuro {
    background-color: black !important;
    background-image: none !important;
    filter: grayscale(100%) contrast(150%) brightness(50%);
}

.tremulo {
    animation: tremer 0.1s infinite;
}

@keyframes tremer {
    0% { transform: translate(1px, 1px); }
    50% { transform: translate(-1px, -2px); }
    100% { transform: translate(1px, -1px); }
}