body {
    background-color: #008080; /* Azul esverdeado clássico do Windows 95/98 */
    background-image: url('https://www.transparenttextures.com/patterns/stars.png');
    margin: 0;
    padding: 20px;
    overflow: hidden; /* Impede barras de rolagem durante o susto */
}

#site-falso {
    display: block;
}

/* Estilo do botão cinza do Windows antigo */
#btn-click {
    background-color: #c0c0c0;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    border-right: 2px solid #808080;
    border-bottom: 2px solid #808080;
    padding: 10px 20px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    cursor: pointer;
}

#btn-click:active {
    border: 2px inset #808080;
}

/* --- CONTAINER DE HORROR (VÍDEO) --- */
#container-horror {
    display: none; /* Começa escondido */
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: black;
    z-index: 99999; /* Fica por cima de tudo */
}

#videoTerror {
    width: 100%;
    height: 100%;
    object-fit: contain; /* Ajusta o vídeo sem cortar */
}

#overlay-texto {
    position: absolute;
    top: 40%;
    width: 100%;
    text-align: center;
    color: #ff0000;
    font-size: 50px;
    font-family: "Times New Roman", serif;
    display: none;
    text-shadow: 5px 5px 10px #000;
}

@keyframes tremer {
    0% { transform: translate(2px, 2px); }
    50% { transform: translate(-2px, -2px); }
    100% { transform: translate(2px, -2px); }
}

.shake-effect {
    animation: tremer 0.1s infinite;
}