@keyframes piscar {
    0% { opacity: 1; }
    50% { opacity: 0.8; filter: sepia(100%) grayscale(50%); }
    100% { opacity: 1; }
}

/* Deixa o texto com cara de erro de sistema */
#frase-do-dia {
    text-shadow: 2px 2px #ff0000, -2px -2px #000000;
    transition: all 0.5s;
}
