body { background: #e0f7fa; font-family: 'Comic Sans MS'; text-align: center; transition: 1s; }

#inicio { margin-top: 20%; }

#horror-overlay {
    position: fixed; top: 0; left: 0; width: 100%; height: 100%;
    background: black; z-index: 999; display: flex; flex-direction: column;
    justify-content: center; align-items: center;
}

#smiledog {
    width: 600px;
    filter: brightness(0.7) contrast(1.5) grayscale(0.3);
    animation: tremer 0.05s infinite;
}

#texto-ritual {
    color: #600; font-family: serif; font-size: 24px;
    margin-bottom: 20px; text-shadow: 0 0 10px red;
}

@keyframes tremer {
    0% { transform: translate(1px, 1px); }
    50% { transform: translate(-1px, -2px); }
    100% { transform: translate(1px, -1px); }
}
